.header {
	margin-top: var(--s16);
	background-color: #FFF;
	padding: var(--s16) var(--s24);
	border-radius: var(--s16);
	border: 0.5px solid var(--casino-grey);
	display: flex;
	justify-content: space-between;
	align-items: center;
	.label {
		svg {
			width: var(--s110);
			height: var(--s30);
		}
	}

	.setting {
		display: flex;
		align-items: center;
		gap: var(--s40);
	}
}
