.receiving {
	padding: var(--s18);
	display: flex;
	flex-direction: column;
	gap: var(--s24);
	border-radius: var(--s24);
	border: 1px solid  var(--casino-grey);
	background-color: #fff;
	.elements {
		display: flex;
		flex-wrap: wrap;
		gap: var(--s10);
	}
}
